body {
  margin: 0;
  text-align: center;
  /* font-family: 'Merriweather', serif; */
  font-color #40514e;
}

h1 {
  margin-top: 0;
  font-family: 'Caveat', cursive;
  font-size: 550%;
  color: #51c4d3;
}

h2 {
  font-weight: bold;
  color: #51c4d3;
}

h3 {
  /* font-family: 'Montserrat', sans-serif; */
  color: #132c33;
}

div {
  background-color: #d8e3e7;
  padding-top: 100px;
}

hr {
  margin-top: 10px;
  border-style: dotted none none;
  height: 0px;
  border-width: 5px;
  border-color: gray;
  width: 10%;
}

.hello {
  color: #126e82;
  margin: 20px;
}

.introduction {
  text-align: center;
}

.heading {
  color: #126e82;
  margin-top: 50px;
}

.top-container {
  background-color: #d8e3e7;
  position: relative;
}

.middle-container {
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #126e82;
}

.skill-row {
  text-align: left;
  margin: 50px auto 100px auto;
  width: 50%;
  line-height: 2;
  /* display:inline; */
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.profile {
  border-radius: 50%;
}

.left-float {
  float: left;
  margin-right: 30px;
  border-radius: 20%;
  height: 200px;
  display: inline;
}

.right-float {
  float: right;
  height: 200px;
  margin: 20px;
  border-radius: 10%;
  display: inline;
}

.right-float-html {
  float: right;
  height: 200px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  display: inline;
}

.skill-heading {
  color: #51c4d3;
  font-weight: bold;
  display: inline;
}

.job-title {
  color: #132c33;
}

.in-touch {
  color: #51c4d3;
}

.experience {
  padding: 10px;
}

.contact-me-btn {
  background: #51c4d3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-color: black;
  border-radius: 20px;
  height: 14px;
  line-height: 14px;
  color: white;
  font-family: Arial;
  width: 185px;
  height: auto;
  font-size: 20px;
  font-weight: 900;
  padding: 12px;
  /* -webkit-box-shadow: 1px 1px 6px 0 #000000;
  -moz-box-shadow: 1px 1px 6px 0 #000000; */
  text-shadow: 1px 1px 6px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

.contact-me-btn:hover {
  color: #51c4d3;
  background: #d8e3e7;
  text-decoration: none;
}

.links {
  background: #51c4d3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 14px;
  line-height: 14px;
  color: white;
  font-family: Arial;
  width: 185px;
  height: auto;
  font-size: 20px;
  font-weight: 900;
  padding: 12px;
  -webkit-box-shadow: 1px 1px 6px 0 #000000;
  -moz-box-shadow: 1px 1px 6px 0 #000000;
  text-shadow: 1px 1px 6px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}

.links:hover {
  color: #51c4d3;
  background: #d8e3e7;
  text-decoration: none;
}

.footer-link {
  font-size: 30px;
  margin: 20px;
  color: #51C4D3;
}

.footer-link:visited {
  color: #132c33;
}

.cooper {
  color: white;
}

.skyline {
  width: screen.width;
}

/* Class Selectors start with ., ex. .class
   can be used for any tag
   can have multiple classes for a tag
*/
/* ID Selectors start with #, ex. #ID
    These are very specific, can only be used in
    a single tag
    only one ID per tag
*/
